@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --color-one: #CC9EA2;
    --color-text-one: #e67f93;
    --color-text-two: #fff;
    --color-three: #67254E;
    --color-four: #35356E;
    --color-fiver: #110C3B;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Poppins", sans-serif;
}

html {
    overflow-x: hidden;
    font-size: 62.5%;
}

a {
    color: var(--color-text-two);
    font-weight: bold;
}

a:hover {
    color: var(--color-text-one);
}

.main-bg {
    background-image: url('../img/img-bg.svg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}

.content-bg {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    background-color: #cc9ea2b7;
    max-width: 80%;
    border-radius: 1.5rem;
}

.header-login h1 {
    text-align: center;
    padding: 1rem 1.6rem;
    color: var(--color-text-two);
    font-weight: 900;
    font-size: 3.2rem;
}

.form-textfield {
    position: relative;
    padding: 1.6rem 3.2rem;
}

.form-remember-forgot {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.form-remember-forgot label {
    color: var(--color-text-two);
    font-weight: 600;
    cursor: pointer;
}

.form-remember-forgot input {
    cursor: pointer;
}

.form-textfield label {
    align-self: flex-start;
    color: var(--color-text-two);
    font-size: 1.2rem;
}

.form-textfield input {
    width: 100%;
    border: 0.2rem solid rgba(255, 255, 255, 0.2);
    border-radius: 4rem;
    padding: 0.6rem 1.6rem;
    background: transparent;
    color: white;
    font-size: 1.6rem;
}

.form-textfield i {
    position: absolute;
    right: 3.5rem;
    top: 50%;
    transform: translate(-50%);
    font-size: 2rem;
    color: white;
}

.form-textfield input::placeholder {
    color: var(--color-text-one);
    font-size: 1.2rem;
}

.form-textfield-btn {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn {
    padding: 0.6rem 2rem;
    cursor: pointer;
    border: none;
    border-radius: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
    transition: all 200ms ease-in-out;
    color: var(--color-text-one);
    margin-top: 3rem;
}

.btn:hover {
    background-color: var(--color-text-one);
    color: var(--color-text-two);
}

.footer-login {
    text-align: center;
    padding: 1rem 1.6rem;
    color: var(--color-text-two);
    font-size: 1.2rem;
    margin-top: 1.5rem;
}